body {
    background-color: #CC0000;
    color: white;
}

#wrap{
    display:flex;
    flex-direction: column;
    text-align: center;
    width:40vw;
    margin: auto;
}


#info {
    border: 5px solid white;
    overflow: hidden;
    margin: auto;
    background-color: black;
}

#myPhoto {
    height: 25%;
    width: 25%;
    position: relative;
    float: right;
    margin-top: -80px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    padding-bottom: 0px;

}

#info h1 {
    margin-left: -150px;
}

#SideTable {
    background-color: black;
    border-top: 3px solid white;
    text-align: left;
}

#hobbies {
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
}

#CountOn {
    margin-left: 8px;
    margin-right: 8px;
}

#Story {
    margin-left: 8px;
    margin-right: 8px;
}

hr {
    height: 2px;
    background-color: white;
    border-width:0;
    color:white;
}

#flexie{
    display:flex;
    justify-content:space-between;
    padding-top: 1vw;
}

a{
    color: white;
    font-weight: bolder;
    font-size: 1.5vw;
}